<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
        </div>
    </div>
    <div>
        <div>
            <% if (items.length > 0) { %>
            <ul>
                <% for (item of items) { %>
                <li class="card-item">
                    <p>Title:<%= item.title %></p>
                    <img src='<%= item.imgURL%>' class="product-image">
                    <p>Price:<%= item.price%></p>
                    <div class="card-actions">
                        <a class="btn btn-default" href="/assignments/prove03-store/items/<%= item.sku %>">Details</a>
                        <%- include('../partials/add-cart', {item: item})%>
                    </div>
                </li>
                <% } %>
            </ul>
            <% } else { %>
            <p>No items list</p>
            <% } %>
        </div>
    </div>

</body>

</html>