<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">
            <h1><%= title %></h1>
        </div>
    </div>
    <div>
        <div class="centered">
            <h2><%= item.title %></h2>
            <img src="<%  item.imgURL %>">
            <p>Price: <%= item.price%></p>
            <p>id: <% item.id%></p>
            <p><%= item.decription %></p>
            <form method="POST" action="/assignments/prove04-store/cart">
                <button type="submit">Add to Cart</button>
                <input type="hidden" name="id" vale="<%= item.id %>">
            </form>
        </div>
    </div>
</body>

</html>